*{
    margin: 0;
    padding: 0;
}
html , body{
    overflow-x: hidden;
}
/* -------------Home Page------------- */

header{
    display: flex;
    justify-content: space-between;
}
nav{
    display: flex;
}
.logo{
    width: 120px;
    height: 73px;
    margin-left: 30px;
    margin-top: 20px;
}

nav ul{
    display: flex;
    list-style: none;
}
nav ul li {
    margin: 19px 30px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-family: poppins;
    font-size: 18px ;
}
.first{
    background-image: url(images/background-header.png);
    background-size: cover;
}

.s1{
    color: white;
    display: flex;
    flex-direction: column;
    margin-left: 45px;

}
.bigtitle{
    width: 600px;
    height: 200px;
    margin-top: 10%;
    line-height: 1.5;
    font-weight: bold;
    font-family: poppins;
    font-size: 60px;

}
.paragraph{
    width: 600px;
    font-size: 20px;
    font-weight: 100;
}

.btnspace{
    height: 200px;
}

.order{
    color: white;
    width: 230px;
    height: 60px;
    top: 20%;
    position: relative;
    border-radius: 8px;
    font-weight: bold;
    box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.537);
    border: none;
    background-color: #B77E66;
}
.order:hover{
    cursor: pointer;
    background-color: #E4784A;
    color: #F4E5DF;
}

.second{
    background-image: url(images/background-s2.png);
    background-size: cover;
    width: 100%;
    height: 655px;
}

.second{
    left: 50%;
}

.second h2{
    font-size: 31px;
    font-family: inter;
    color: #471E22;
    font-weight: 600;

}

.second p{
    font-size: 22px;
    color: #533B2F;
    margin-top: 1em;
}

.second{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.con{
    width: 30%;
    margin-left: 35em;
}

.view{
    display: flex;
    width: 200px;
    height: 50px;
    background-color: #B77E66;
    border: none;
    color: white;
    font-family: poppins;
    font-weight: 600;
    border-radius: 1em;
    margin-top: 6em;
    justify-content: center;
    align-items: center;
    margin-left: 15rem;
}

.view:hover{
    cursor: pointer;
    background-color: #795341;
    scale: 1.2;
    border: none;
}

.third{
    display: flex;
    background-image: url(images/backgound-3.png);
    background-size: cover;
    width: 100%;
    height: 400px;
    justify-content: space-around;
    align-items: center;
}

.opening{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30em;
    height: 10em;
    background-color: #221B18;
    color: white;
    opacity: 0.6;    
}

.opening p{
    color: white;   
    font-family: 'Irish Grover',sans-serif;
    font-size: 3em;
}

.dates{
    display: flex;
    justify-content: space-around;
    width: 40em;
    color: white;
}


.dates p{
    font-size: 2em;
    font-family: 'Irish Grover',sans-serif;
}

.dates:hover{
    color: #583115;
}
.date{
    margin-top: 2em;
}


.forth{
    display: flex;
    flex-direction: column;
    background-image: url(images/backgound-4.png);
    background-size: cover;
    width: 100%;
    height: 800px;
}

.menu{
    align-self: center;
    margin-top: 30px;
    font-family: poppins;
    font-size: 50px;
    font-weight: lighter;
    color: #903711;
    -webkit-text-stroke: 2px white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h4{
    font-family: poppins;
    color: #9E5A3D;
    text-decoration-line: underline;
    font-size: 30px;
    display: flex;
    margin-left: 20%;
}

.container{
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: auto;
    margin-bottom: 40px;
    padding-top: 20px;
    padding-bottom: 40%;
}

.objects{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 444px;
    border-radius: 20px;
    background-color: rgba(115, 74, 57, 0.88);
    align-items: center;
    justify-content: space-evenly;
    padding: 0px 12px;
    margin: 0 15px;
    box-shadow: 10px 5px 5px gray;
}

.objects .pic{
    display: flex;
    justify-content: center;
}
.objects .pic img{
    width: 100%;
    margin: 10px;
}

.objects .description h5{
    color: white;
    font-size: 25px;
    font-weight: 700;
}
.objects .description p{
    color: #FFFADA;
    font-size: 10px;
    font-weight: 300;
    line-height: 21px; 
    letter-spacing: 0.2px;
}

.objects .price{
    color: white;
    font-size: 21px;
    font-weight: 700;
}

.fifth{
    background-image: url(images/background-5.png);
    background-size: cover;
    width: 100%;
    height: 609px;
}

.titre{
    color: white;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    padding-top: 6rem;
}

.boxes{
    width: 379px;
    height: 300px;
    border-radius: 5px;
    background: rgba(88, 49, 21, 0.57);
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0 10px 5px rgb(45, 41, 41);

}

.boxe{
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 0;
    margin: auto;
    margin-top: 50px;
    justify-content: space-around;
}

.boxes h4{
    color: white;
    text-decoration: none;
    text-align: center;
    font-family: Lexend;
    margin-left: 3%;
    font-size: 32px;
    font-weight: 700;
}

.boxes p{
    color: #D3CECE;
    text-align: center;
    font-family: Lexend;
    font-size: 20px;
    font-weight: 700;
}

.boxes .green-text{
    color: #44E183;
    text-align: center;
    font-family: Lexend;
    font-size: 16px;
    font-weight: 700;
}

.sixth{
    display: flex;
    background-color: #D3CECE;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.sixth .maron{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #795341;
    height: 350px;
    width: 97%;
}

.sixth .white{
    background-color: white;
    height: 340px;
    width: 98%;
}

.fin{
    height: 600px;
    width: 100%;
    background-image: url('images/footer-image.png');

}
.signature{
    color: white;
    display: block;
    
}

.finn{
    height: 600px;
    background-color: black;
    opacity: 0.8;
    align-items: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.finn > * {
    width: 30%;
}

.text-footer p{
    text-decoration: none;
    color: aliceblue;
    margin-top: 1em;
    display: inline-block;
    font-family: poppins;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: capitalize;
}
.text-footer a{
    text-decoration: none;
    color: white;
    margin-top: 1em;
    display: inline-block;
    font-family: poppins;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: capitalize;
}


/* -------- End Home page --------- */



/* -------- Menu page --------- */

.first-menu{
    background-image: url(images/header-2.png);
    background-size: cover;
    width: 100%;
    height: 886px;
    display: flex;
    flex-direction: column;
} 
.first-menu nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.first-menu h1{
    color: white;
    font-size: 75px;
    padding:300px 40px 350px 650px;

}

.menu-section{
    background-image: url(images/background-menu.png);
    background-size: cover;
    width: 100%;
    height: 1600px;

}
.menu-section .menu-container{
    display: flex;
    height: 80%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    
}

/* -------- End Menu page --------- */


/* --------Contact page --------- */

.first-contact{
    background-image: url(images/background-contact.png);
    background-size: cover;
    height: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.first-contact nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.first-contact h1{
    color: white;
    font-family: Poppins;
    font-size: 86px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 40%;
}

.contact-countainer{
    background-image: url(images/background-contact-form.png);
    background-size: cover;
    width: 100%;
    height: 1200px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.contact-countainer form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
    padding: 250px;
}
 .contact-countainer form input{
    border-radius: 20px;
    padding: 20px;
    border: none;
    margin: 10px;
    background-color: #fffada7b;
    width: 500px;
    height: 50px;
    font-size: 30px;
}
.contact-countainer textarea{
    
    border-radius: 20px;
    padding: 20px;
    border: none;
    margin: 10px;
    background-color: #fffada7b;
}
::placeholder{
    color: #000000ad;
font-family: Poppins;
font-size: 28px;
font-weight: 400;
}

.message{
    width: 300px;
    height: 280px;
    font-size: 30px;
    justify-content: flex-start;
}
.envoyer{
    color: #FFF;
    font-size: 48px;
    font-weight: 400;
    border: none;
    width: 217px;
    height: 68px;
    border-radius: 20px;
    background: #9E5A3D;
}

/* -------- End Contact --------- */


/* -------- Localisation --------- */


.first-local{
    
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

.bgHeader{
    background-image: url(images/localBG.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.bgHeader .overlay{
    background-color: #221b1885;
    width: 100%;
    height: 100%;
}
.first-local nav{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.first-local h1{
    color: white;
    position: absolute;
    top: 35%;
    right: 6%;
    font-size: 80px;
}
.localisation{
    background-image: url(images/localisation1.png);
    background-size: cover;
    width: 100%;
    height: 1200px;
}